* {
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    max-width: 700px;
    max-height: 1080px;
    box-sizing: border-box;
    display: flex;
}

.container{
    flex-direction: column;
    flex-wrap: wrap;
}

.celular {
    width: 65%;
    height: 90%;
    margin-left: 200px;
}

.login{
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: #ffff;
    width: 50%;
    height: 395px;
    border: 1px solid #dbdbdb;
    padding: 45px;
    margin: 45px;
}

input[type=text]{
    text-align: left;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding: 10px 55px;
    margin: 3px;
    text-align: left;
}

input[type=submit]{
    background-color: #0095f6;
    color: #f2faff;
    border-radius: 3px;
    padding: 5px 120px;
    margin: 3px;
    border: 0;
    cursor: pointer;
}